// Specific CSS for your home-page
.landing-picture {
  height: 1413px;
  object-fit: cover;
  background-image: asset-url("Planet-booking.png");
  background-position-x: center;
  background-repeat: no-repeat;
}

.landing-bookingplanet{
  position: relative;
  height: calc(100vh + 40px);
}

.landing-title {
  font: $headers-font;
  font-size: 80px;
  color: $light-gray;
}

.booking {
  position: absolute;
  top: 80px;
}

.aplanet {
  position: absolute;
  bottom: 350px; right: 0px;
}

.trending-title {
  margin-bottom: 20px;
}

.button-search {
  padding: 15px;
  width: 100px;
  margin-bottom: 30px;
  margin-left: -50px ;
  position: absolute;
  bottom: 100px;
  left: 50%;
}

.btn-home {
  font-size: 20px;
  font-weight: bold;
  color: $light-gray;
}

.btn-home:hover {
  color: $light-gray;
}
