// Specific CSS for your home-page
.landing-picture {
  height: 1413px;
  object-fit: cover;
  background-image: asset-url("Planet-booking.png");
  background-position-x: center;
  background-repeat: no-repeat;
}

.landing-bookingplanet{
  position: relative;
  height: calc(100vh + 40px);
}



.landing-title {
  font: $headers-font;
  font-size: 80px;
  color: $light-gray;
}

.booking {
  position: absolute;
  top: 50px; left: 100px;
}

.aplanet {
  position: absolute;
  top: 480px; right: 100px;
}

.trending-title {
  margin-bottom: 20px;
}

.button-search {
  position: absolute;
  bottom: 120px;
  justify-content: center;
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column;
}

.button-search img {
  margin-top: 150px;
  animation: bounce2 2s ease infinite;
}

.btn-home {
  font-size: 25px;
  width: 300px;
  font-weight: bold;
  color: $light-gray;
  margin: auto 0;

}

.btn-home:hover {
  color: $light-gray;
}

@keyframes bounce2 {
	0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
	40% {transform: translateY(-15px);}
	60% {transform: translateY(-7px);}
}
