.card-planet .description {
  padding: 20px;
}

.card-planet .description img {
  height: 16px;
  width: 20px;
  margin-bottom: 4px;
}
<<<<<<< HEAD
.booking_tag_accept i{
  font-size: 50px;
  color:aqua;
}
.booking_tag_decline i{
  font-size: 50px;
=======
.booking_button_accept {
  font-size: 30px;
  color: $success;
  margin-right: 30px;
}
.booking_button_decline {
  font-size: 30px;
>>>>>>> d71cdc91efbc6a3f899c9be0f730df3b01fb1358
  color:red;
  margin-right: 30px;
}
<<<<<<< HEAD
.booking_tag_pending i{
  font-size: 50px;
  color:rgb(120, 117, 117);
=======

.total-price {
  position: absolute;
  right: 180px;
  font-size: 40px;
}

.card-product-infos {
  position: relative;
}

.title-planet {
  margin-bottom: 12px !important;
>>>>>>> d71cdc91efbc6a3f899c9be0f730df3b01fb1358
}
