.card-product {
  overflow: hidden;
  height: 140px;
  background: #1E112C;
  box-shadow: 0 0 15px rgba(234, 7, 158, 0.197);
  display: flex;
  //align-items: center;
}

.card-product img {
  height: 100%;
  width: 140px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 16px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
  width: 100%;
}

.card-product-infos img {
  height: 16px;
  width: 20px;
  margin-bottom: 4px;
}

.btn-accepte-decline .btn-danger {
    padding-left: 14px;
    padding-right: 14px;
}

.btn-accepte-decline .btn-success {
  padding-left: 16px;
  padding-right: 16px;
}
